.bottom {
    background-color: #DAC0A3;
}
.contact {
    background-color: #dab386;
}
.header{
    background-color: #F8F0E5;
}
.middle{
    background-color: #EADBC8;
}

.Profile{
    width: 250px; 
    height: 250px;
    border-radius: 100%;
    border: 8px solid black
}
.Colorer{
    border: solid black;
}
.Colorers{
    background-color: black;
}
hr{
    /* background-color: aliceblue; */
    border-style: dashed none none ; 
    /* height: 5px;" */
    width: 1600px ;
}
body{
margin: 0;
}

